<div class="last">
    <div class="flex">
        <div class="get">
            <b>Get to Know Us</b>
            <br>
            
            <h6>Career</h6>
            <h6>Blog</h6>
            <h6>About Amazon</h6>
            <h6>Investor Relations</h6>
            <h6>Amazon Devices</h6>
            <h6>Amazon Science</h6>
           
        </div>
        <div class="make">
            <b>Make Money with Us</b>
            <br>
            
            <h6>Sell product on Amazon</h6>
            <h6>Sell on Amazon Business</h6>
            <h6>Sell apps on Amazon</h6>
            <h6>Become an Affiliate</h6>
            <h6>Advertise Your Products</h6>
            <h6>Self-Publish with Us</h6>
            <h6>Host an Amazon Hub</h6>
            

        </div>
        <div class="payment">
            <b>Amazon Payment Products</b>
            <br>
            
           <h6>Amazon Business Card</h6>
           <h6>Shop with Points</h6>
           <h6>Reload Your Balance</h6>
           <h6>Amazon Currency Converter</h6>
          
        </div>
        <div class="let">
            <b>Let Us Help You</b>
            <br>
            
            <h6>Amazon and COVID-19</h6>
            <h6>Your Account</h6>
            <h6>Your Order</h6>
            <h6>Shipping Rates & Policies</h6>
            <h6>Returns & Replacements</h6>
            <h6>Manage Your Content and Devices</h6>
            <h6>Help</h6>
            

        </div>
    </div>
</div>