.last{
    width: 100%;
    height: 24vw;
    background-color:#232F3E;
}
.flex{
    display: flex;
    justify-content:space-evenly;
    padding-top: 2.5%;
    color: white;
}
.get b{
    font-size: 1.1vw;
}
.get h6{
    font-size: 0.9vw;
    color: #C5DDDD;
    margin-top: 5%;
}
.make b{
    font-size: 1.1vw;

}
.make h6{
    font-size: 0.9vw;
    color: #C5DDDD;
    margin-top: 5%;
    
}
.payment b{
    font-size: 1.1vw;
}
.payment h6{
    font-size: 0.9vw;
    color: #C5DDDD;
    margin-top: 5%;
}
.let b{
    font-size: 1.1vw;
}
.let h6{
    font-size: 0.9vw;
    color: #C5DDDD;
    margin-top: 5%;
}
