<div class="cardss">
    
<div class="card">
    <b>Deals in PCs</b>
    <div class="img1">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v1._SY304_CB573698005_.jpg" alt="">
    </div>
    <div class="more">
        <h6>Show more</h6>
    </div>
</div>
<div class="card1">
   <b>Gaming accessories</b>
   <div class="all">
   <div class="headset">
    <div class="sets">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"  alt="">
    </div>
    <div class="key">
   <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Keyboard_1x._SY116_CB667159063_.jpg" alt="">
   </div>
   </div>
   <div class="font">
    <h6>Headsets</h6>
    <h6>Keyboards</h6>
   
   </div>
    <div class="both">
        <div class="mice">
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Mouse_1x._SY116_CB667159063_.jpg" alt="">
            

        </div>
        <div class="chair">
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Chair_1x._SY116_CB667159060_.jpg" alt="">
            

        </div>
    </div>
    <div class="font1">
        <h6>Computer mice</h6>
        <h6>Chairs</h6>
       
       </div>
</div>


    
</div>
<div class="card2">
    <b>Refresh your space</b>
    <div class="all1">
        <div class="flex2">
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_LP-HP_B08MYX5Q2W_01.23._SY116_CB619238939_.jpg" alt="">
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_home_B08RCCP3HV_01.23._SY116_CB619238939_.jpg" alt="">
        </div>
        <div class="din">
            <h6>Dinning</h6>
            <h6>Home</h6>
        </div>
        <div class="flex3">
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_kitchen_B0126LMDFK_01.23._SY116_CB619238939_.jpg" alt="">
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_health-beauty_B07662GN57_01.23._SY116_CB619238939_.jpg" alt="">
        </div>
        <div class="kitch">
            <h6>Kitchen</h6>
            <h6>Health and Beauty</h6>
        </div>
    </div>
</div>
<div class="card3">
   <b>Shop deals in Fashion</b>
   <div class="all2">
    <div class="flex4">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2022/SITE_FLIPS/SPR_22/GW/DQC/DQC_APR_TBYB_W_BOTTOMS_1x._SY116_CB624172947_.jpg" alt="">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2022/SITE_FLIPS/SPR_22/GW/DQC/DQC_APR_TBYB_W_TOPS_1x._SY116_CB623353881_.jpg" alt="">
    </div>
    <div class="jean">
        <h6>Jeans under $50</h6>
        <h6>Tops under $25</h6>
    </div>
    <div class="flex5">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2022/SITE_FLIPS/SPR_22/GW/DQC/DQC_APR_TBYB_W_DRESSES_1x._SY116_CB623353881_.jpg" alt="">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2022/SITE_FLIPS/SPR_22/GW/DQC/DQC_APR_TBYB_W_SHOES_1x._SY116_CB624172947_.jpg" alt="">
    </div>
    <div class="dress">
        <h6>Dresses under $30</h6>
        <h6>Shoes under $50</h6>
    </div>
   </div>
</div>
</div>
