<div class="bar">
    <div class="bar1">
        <b>Bestsellers in Cell Phones and accessories</b>
    </div>
    <div class="bar2">
        <img src="https://m.media-amazon.com/images/I/71vk1UJniHL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/71aodrmIgCL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/61XaXw+DDRL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/8137X-qOV2L._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/71OicfvCsbL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/61VwfUI+-eL._AC_SY200_.jpg" alt="">
    </div>
    
</div>
