<div class="nav">
    
    <div class="add">
        <div class="logo">
        
        <i class="ri-amazon-fill"></i>
    </div>
        <div class="loco">
        <h6>
            Deliver to
        </h6>
<h6><i class="ri-map-pin-line"></i>
    India
</h6> 
</div>
    </div>
    <div class="hold">
    <div class="holder">
        <label for="all">All <i class="ri-arrow-drop-down-fill"></i></label>
        <input type="all" placeholder="Search Amazon">
        <div class="box">
            <i class="ri-search-line"></i>

        </div>
    </div>
</div>
 
          <div class="eng">
            <h6>EN <i class="ri-arrow-drop-down-fill"></i></h6>
          </div>
          <div class="sign">
            <span>
                Hello sign in
            </span>
                <br>
                <b>Accounts & Lists <i class="ri-arrow-drop-down-fill"></i></b>
           
          </div> 
          <div class="return">
           <span>Return</span><br>
            <b>& Order</b>
          </div> 
          <div class="cart1">
          <div class="cart">
            <i class="ri-shopping-cart-2-line"></i>
            <h6>Cart</h6>
          </div> 
        </div>


</div>   
