<div class="bar">
    <div class="bar1">
        <b>Bestsellers in Sports and Outdoor</b>
    </div>
    <div class="bar2">
        <img src="https://m.media-amazon.com/images/I/61IM+k4lmQL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/61oSwPvRWLL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/71MflZx54JL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/61ZtqtvoD2L._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/71S4-NjoTDL._AC_SY200_.jpg" alt="">
        <img src="https://m.media-amazon.com/images/I/51+GR0NI2sL._AC_SY200_.jpg" alt="">
    </div>
    
</div>
